.App {
  text-align: center;
}

.calc-container {
  display: flex;
  justify-content: center;
}

.calc-container>div {
  margin: 0 15px;
}

.first-degree,
.second-degree {
  border: 2px solid rgb(20, 127, 143);
}


.input-group {

}

.form-control {
  max-width: 18%;
}

.btn-primary {
  font-weight: 600;
  background-color: rgb(20, 127, 143);
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin: 12px auto;
  transition: 0.1s linear;
}

.btn-primary:hover {
  cursor: pointer;
  opacity: 0.9;
}

.alert-result {
  margin: 5px auto 12px auto;
}
